
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-image: url("bgcon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	cursor: none;
}

img.home {
    width: 90px;
    height: 70px;
	cursor: none;
}

div.home {
    position: absolute;
    text-align: left;
    height: 70px;
    width: 90px;
    left: 93.4%;
    top: 92%;
    border: 3px;
    border-color: black;
    border-style: solid;
	cursor: none;
}

div.top{
    text-align: left;
    width: 98.45%;
    height: 100px;
    position: absolute;
    font-weight: bold;
    font-size: 70px;
    color: white;
    font-family: fantasy;
    text-shadow: 5px 5px 3px black;
    padding: 15px;
    background-color: #2B3856;
    border-bottom: 2px solid black;
	cursor: none;
}

div.left{
    text-align: center;
    position: absolute;
    left: 1%;
    width: 29%;
    padding: 3px;
    top: 13.5%;
    overflow-y: scroll;
    height: 80%;
    overflow-x: hidden;
	cursor: none;
}


div.right{
    position: absolute;
    left: 30%;
    border: 3px solid black;
    height: 75%;
    width: 66.5%;
    padding-top: 8px;
    padding-right: 15px;
    padding-left: 15px;
    color: black;
    background-color: white;
    top: 15%;
    overflow-y: scroll;
    overflow-x: hidden;
	cursor: none;    
}

table.class {
    width: 200%;
    text-align: left;
    margin-left: 3px;
	cursor: none;
}

th, td {
    padding: 10px;
}
    
div.content {
    width 900px
    height: 900px
    border: 3px solid black;
}

.button {
    background-color: #2B3856;
    color: white;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px 0px #1569C7;
    padding: 10px;
    width: 45%;
    display: inline-block;
    text-decoration: none;
    box-shadow: 5px 5px 0px black;
    font-weight: normal;
    font-family: Sans-Serif;
    height: 65px;
	cursor: none;
	border-style: solid;
	border-color: red;
	border-width: 3px;
	border-radius: 15px;
}

div.fema {
    position: absolute;
    text-align: left;
    height: 50px;
    width: 70px;
    left: 80%;
    top: 4%;
	cursor: none;
}

img.fema {
    -webkit-filter: drop-shadow(8px 8px 4px black);
}

::-webkit-scrollbar {
    width: 0px;
}

div.leftin {
    position: absolute;
    top 86px;
    left: 28px;
    width: 300px;
    height: 345px;
    border: 3px solid black;
	cursor: none;
}

img.outside {
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(8px 8px 4px black);
}

div.rightin {
    position: absolute;
    top: 86px;
    right: 28px;
    width: 300px;
    height: 350px;
    border: 3px solid black;
	cursor: none;
}

div.middlein {
    position: absolute;
    width: 600px;
    left: 27%;
    height: 300px;
    border: 3px solid black;
	cursor: none;
}

div.photos {
    position: absolute;
    top: 450px;
	cursor: none;
}

img.middle {
    width: 100%;
    height: 100%;
}

.rightin:active {
    position:relative;
    top:0%;
    left:30%;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
	cursor: none;
}

.leftin:active {
    position:relative;
    top:0%;
    left:30%;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
	cursor: none;
}

iframe.leftbox {
     height: 500px;
     overflow-x: scroll;
     overflow-y: scroll;
	cursor: none;
}
