*{
	box-sizing: border-box;
}

body {
    background-image: url("../bgcon.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	cursor: none;
}

#form {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 65%;
	max-width: 850px;
	height: 95%;
	background-color: white;
	box-shadow: 3px 6px 15px 4px black;
	border-radius: 8px;
}

form {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	font-size: 20px;
	margin-top: 10%;
}

input[type=text] {
	display: block;
	font-size: 20px;
	width: 90%;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	padding: 1px;
}

select {
	display: block;
	font-size: 20px;
	width: 90%;
	margin-bottom: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 8px;
	padding: 1px;
}

input[type=checkbox] {
		width: 18px;
		height: 18px;
}

input[type=email] {
	display: block;
	width: 90%;
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	padding: 1px;
}

label{
	width: 90%;
	margin: 5px;
}

#multipiler {
	font-size: 20px;
	width: 90%;
	margin-bottom: 15px;
	margin-top: 10px;
}

div.check1 {
	width: 45%;
	font-size: 20px;
}

div.check2 {
	width: 45%;
	font-size: 20px;
}

input[type=submit] {
	width: 35%;
	height: 50px;
	margin-left: 55%;
	-webkit-appearance: none;
	font-size: 20px;
	font-weight: bold;
	background-color: green;
	border-style: solid;
	border-color: black;
	border-radius: 8px;
	color: white;
    box-shadow: 3px 6px 8px 0 black;
}

